# **Importing the dependencies**

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# **Data Collection and Analysis**

In [4]:
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [5]:
# Print first 5 row
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
# print last 5 row
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
35737,38240,1.232390,0.122010,0.157352,0.261906,0.158523,0.273022,-0.143169,0.138664,-0.146805,...,-0.233618,-0.677894,0.052511,-0.816369,0.221553,0.158446,-0.018118,-0.003168,1.79,0.0
35738,38240,1.114040,0.571203,0.427035,2.442135,-0.020967,-0.501774,0.320237,-0.082876,-1.182685,...,0.028826,-0.032705,-0.056634,0.535225,0.540930,-0.025773,-0.035775,0.011219,24.99,0.0
35739,38241,1.057020,0.007895,0.239256,1.236048,0.032239,0.350868,0.023279,0.137328,0.037981,...,-0.043316,-0.022866,-0.155991,-0.283221,0.662538,-0.314989,0.027467,0.010613,53.96,0.0
35740,38241,-1.546226,0.693338,1.002815,-1.528992,0.294692,-0.464031,0.264880,0.307358,0.022915,...,-0.176713,-0.164637,0.197999,-0.463070,-0.118578,0.739989,0.043625,-0.140629,0.76,0.0
35741,38241,-0.231062,0.243033,1.071749,-0.324598,-0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35742 entries, 0 to 35741
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    35742 non-null  int64
 1   V1      35742 non-null  float64
 2   V2      35742 non-null  float64
 3   V3      35742 non-null  float64
 4   V4      35742 non-null  float64
 5   V5      35742 non-null  float64
 6   V6      35741 non-null  float64
 7   V7      35741 non-null  float64
 8   V8      35741 non-null  float64
 9   V9      35741 non-null  float64
 10  V10     35741 non-null  float64
 11  V11     35741 non-null  float64
 12  V12     35741 non-null  float64
 13  V13     35741 non-null  float64
 14  V14     35741 non-null  float64
 15  V15     35741 non-null  float64
 16  V16     35741 non-null  float64
 17  V17     35741 non-null  float64
 18  V18     35741 non-null  float64
 19  V19     35741 non-null  float64
 20  V20     35741 non-null  float64
 21  V21     35741 non-null  float64
 22  V22     35741 non-null  float64
 23  V23     35741 non-null  float64
 24  V24     35741 non-null  float64
 25  V25     35741 non-null  float64
 26  V26     35741 non-null  float64
 27  V27     35741 non-null  float64
 28  V28     35741 non-null  float64
 29  Amount  35741 non-null  float64
 30  Class   35741 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.5 MB

In [9]:
#checking the missing value of every column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [11]:
#handle the missing value
credit_card_data.drop(credit_card_data.index[35741], inplace=True)

In [12]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
credit_card_data['Class'].value_counts()

0.0    35638
1.0      103
Name: Class, dtype: int64

## This dataset is highly unbalanced

0  ----> Normal Transaction

1  ----> Fraudulent Transaction

In [14]:
# separating the data for analysis

legit =credit_card_data[credit_card_data.Class==0]
fraud =credit_card_data[credit_card_data.Class==1]

In [15]:
print(legit.shape)
print(fraud.shape)

(35638, 31)
(103, 31)

In [16]:
# statistical measurement of the data

legit.Amount.describe()

count    35638.000000
mean        84.185241
std        227.223359
min          0.000000
25%          7.000000
50%         22.000000
75%         76.000000
max       7879.420000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
# compare the value of transaction

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24007.013890,-0.186593,0.055909,0.752026,0.179227,-0.201556,0.102516,-0.094806,0.021671,0.268769,...,0.043058,-0.032782,-0.112858,-0.040645,0.008169,0.135484,0.021354,0.008491,0.003549,84.185241
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

# **Under sampling**

## Build a sample dataset

In [19]:
legit_sample = legit.sample(n=103)

concatenating two dataset

In [20]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1221,943,-0.902734,0.970545,1.220513,0.847062,-0.679818,0.429224,1.542075,-0.159223,-0.887545,...,0.069815,0.278215,-0.291627,0.013116,0.466895,-0.156302,-0.045203,-0.024999,213.10,0.0
5102,4766,-3.606279,1.734405,-1.311874,-1.254248,-3.088829,-0.948441,-1.134091,2.175399,-0.866735,...,-0.258125,-0.986414,-0.040165,0.459493,-0.104171,0.759544,-1.083627,-0.406659,153.32,0.0
17966,29073,-1.239344,-0.005757,1.642413,-1.683646,-1.253970,-0.149377,-0.200664,0.545348,-1.215749,...,0.581103,1.353482,0.071502,0.124061,0.163096,-0.159488,0.202788,0.093171,134.99,0.0
32950,37030,0.981185,-0.830211,0.381679,0.919616,-1.065810,-0.302316,-0.252100,-0.004597,-0.578836,...,-0.374413,-0.764036,-0.045510,0.344656,0.408393,-0.341386,0.030262,0.045361,148.78,0.0
4251,3754,1.349502,-0.569443,0.624953,-0.484790,-1.079634,-0.579746,-0.872499,0.000418,0.874982,...,-0.241831,-0.674323,0.198367,-0.072912,0.049101,-0.482856,-0.017657,0.009046,17.00,0.0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
30442,35926,-3.896583,4.518355,-4.454027,5.547453,-4.121459,-1.163407,-6.805053,2.928356,-4.917130,...,1.691042,0.920021,-0.151104,0.011007,0.080303,0.412191,0.635789,0.501050,4.56,1.0
30473,35942,-4.194074,4.382897,-5.118363,4.455230,-4.812621,-1.224645,-7.281328,3.332250,-3.679659,...,1.550473,0.614573,0.028521,0.013704,-0.149512,-0.131687,0.473934,0.473757,14.46,1.0
30496,35953,-4.844372,5.649439,-6.730396,5.252842,-4.409566,-1.740767,-6.311699,3.449167,-5.416284,...,1.194888,-0.845753,0.190674,-0.216443,-0.325033,-0.270328,0.210214,0.391855,111.70,1.0
31002,36170,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,111.70,1.0
33276,37167,-7.923891,-5.198360,-3.000024,4.420666,2.272194,-3.394483,-5.283435,0.131619,0.658176,...,-0.734308,-0.599926,-4.908301,0.410170,-1.167660,0.520508,1.937421,-1.552593,12.31,1.0

In [24]:
new_dataset['Class'].value_counts()

0.0    103
1.0    103
Name: Class, dtype: int64

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,21825.135922,-0.161988,0.279844,0.817330,0.104061,-0.283600,0.064536,-0.037656,0.170314,0.32253,...,0.017829,-0.066431,-0.078877,-0.004230,0.030127,0.119915,0.005063,-0.082473,-0.012282,58.565534
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.96180,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

## Splitting the data into Features & Target

In [29]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [30]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
1221     943 -0.902734  0.970545  1.220513  0.847062 -0.679818  0.429224
5102    4766 -3.606279  1.734405 -1.311874 -1.254248 -3.088829 -0.948441
17966  29073 -1.239344 -0.005757  1.642413 -1.683646 -1.253970 -0.149377
32950  37030  0.981185 -0.830211  0.381679  0.919616 -1.065810 -0.302316
4251    3754  1.349502 -0.569443  0.624953 -0.484790 -1.079634 -0.579746
...      ...       ...       ...       ...       ...       ...       ...
30442  35926 -3.896583  4.518355 -4.454027  5.547453 -4.121459 -1.163407
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483

             V7        V8        V9  ...       V20       V21       V22  \
1221   1.542075 -0.159223 -0.887545  ... -0.124798  0.069815  0.278215
5102  -1.134091  2.175399 -0.866735  ... -1.431074 -0.258125 -0.986414
17966 -0.200664  0.545348 -1.215749  ...  0.439429  0.581103  1.353482
32950 -0.252100 -0.004597 -0.578836  ... -0.415154 -0.374413 -0.764036
4251  -0.872499  0.000418  0.874982  ... -0.146395 -0.241831 -0.674323
...         ...       ...       ...  ...       ...       ...       ...
30442 -6.805053  2.928356 -4.917130  ...  0.757287  1.691042  0.920021
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473  0.614573
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888 -0.845753
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641 -0.962960
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308 -0.599926

            V23       V24       V25       V26       V27       V28  Amount
1221  -0.291627  0.013116  0.466895 -0.156302 -0.045203 -0.024999  213.10
5102  -0.040165  0.459493 -0.104171  0.759544 -1.083627 -0.406659  153.32
17966  0.071502  0.124061  0.163096 -0.159488  0.202788  0.093171  134.99
32950 -0.045510  0.344656  0.408393 -0.341386  0.030262  0.045361  148.78
4251   0.198367 -0.072912  0.049101 -0.482856 -0.017657  0.009046   17.00
...         ...       ...       ...       ...       ...       ...     ...
30442 -0.151104  0.011007  0.080303  0.412191  0.635789  0.501050    4.56
30473  0.028521  0.013704 -0.149512 -0.131687  0.473934  0.473757   14.46
30496  0.190674 -0.216443 -0.325033 -0.270328  0.210214  0.391855  111.70
31002 -0.110045 -0.177733 -0.089175 -0.049447  0.303445  0.219380  111.70
33276 -4.908301  0.410170 -1.167660  0.520508  1.937421 -1.552593   12.31

[206 rows x 30 columns]

In [31]:
print(Y)

1221     0.0
5102     0.0
17966    0.0
32950    0.0
4251     0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 206, dtype: float64

## Split the data into training and testing data

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify= Y, random_state=2)

In [33]:
print(X.shape, X_train.shape, X_test.shape)

(206, 30) (164, 30) (42, 30)

# Model Training

### Logistic Regression

In [34]:
model = LogisticRegression()

In [36]:
# training the model with training data

model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

# Model Evaluation

## Accuracy Score

In [37]:
# accuracy of trainig data
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [38]:
print("Accuracy score of training data ;", training_data_accuracy)

Accuracy score of training data ; 0.975609756097561

In [39]:
# accuracy of testing data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [40]:
print("Accuracy score of test data ;", test_data_accuracy)

Accuracy score of test data ; 0.9761904761904762